body {
    background: #fff;
    box-shadow: 0 0 2px #2F4F4F;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
  
}
.h11{
  font-family: century gothic;
  font-weight: 200;
  line-height: 1px;
  font-size: 350%;
}
.h22{
  font-family: century gothic;
  font-weight: 100;
  line-height: 1px;
 
}
.h23{
  font-family: century gothic;
  font-weight: 100;
 
 
}
img {
    height: 300px;
    width: 450;
    display: block;
    margin: auto;
    
}
.h21{
  font-family: century gothic;
  font-weight: 100;
  line-height: 1px;
 
}
p{
font-family: century gothic;
}
/* Dropdown Button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #808080}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: blue;
}

